$whiteColor: #fff;
$blackColor: #000;
$earthBlue: #000098;
$darkViolet: #B900FE;

//fonts
$fontFamily: "Inter", sans-serif;

//screen size variable
$smallMobile: 'small-mobile';
$mediumMobile: 'medium-mobile';
$mobile: 'mobile';
$tablet: 'tablet';
$miniLaptop: 'mini-laptop';
$smallLaptop: 'small-laptop';
$mediumLaptop: 'medium-laptop';